<div class="modal-header">
  <h3>{{ 'EGM.APP.LAYOUT_SETTINGS' | translate }}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">{{'EGM.APP.SCALING.MIN' | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="number" min="0" ng-model="options.minVertexScale"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">{{'EGM.APP.SCALING.MAX' | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="number" min="0" ng-model="options.maxVertexScale"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Edge Width</label>
      <div class="col-sm-8">
        <input class="form-control" type="number" min="0" ng-model="options.edgeWidth"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">{{'EGM.APP.RANK_DIRECTION.RANK_DIRECTION' | translate}}</label>
      <div class="col-sm-8">
        <label class="radio-inline"><input type="radio" ng-model="options.dagreRankDirection" ng-value="RankDirection.LR"/>{{'EGM.APP.RANK_DIRECTION.LR' | translate}}</label>
        <label class="radio-inline"><input type="radio" ng-model="options.dagreRankDirection" ng-value="RankDirection.TB"/>{{'EGM.APP.RANK_DIRECTION.TB' | translate}}</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">{{'EGM.APP.IMPORTANCE.IMPORTANCE' | translate}}</label>
      <div class="col-sm-8">
        <label class="radio-inline"><input type="radio" ng-model="options.importance" ng-value="Importance.Weight"/>{{'EGM.APP.IMPORTANCE.PARTICIPANTS' | translate}}</label>
        <label class="radio-inline"><input type="radio" ng-model="options.importance" ng-value="Importance.Centrality"/>{{'EGM.APP.IMPORTANCE.CENTRALITY' | translate}}</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">{{'EGM.APP.MINIMUM_WEIGHT' | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="range" min="0" max="1" step="0.05" ng-model="options.minimumImportance"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">{{'EGM.APP.MAXIMUM_TEXT_LENGTH' | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="number" min="0" ng-model="options.maxTextLength"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Filter</label>
      <div class="col-sm-8">
        <label class="radio-inline"><input type="radio" ng-model="options.filter" ng-value="Filter.Invisible"/>Invisible</label>
        <label class="radio-inline"><input type="radio" ng-model="options.filter" ng-value="Filter.Transparent"/>Transparent</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Paint</label>
      <div class="col-sm-8">
        <label class="radio-inline"><input type="radio" ng-model="options.paint" ng-value="Paint.None"/>None</label>
        <label class="radio-inline"><input type="radio" ng-model="options.paint" ng-value="Paint.UserDefined"/>UserDefined</label>
        <label class="radio-inline"><input type="radio" ng-model="options.paint" ng-value="Paint.Community"/>Community</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Edge Sep</label>
      <div class="col-sm-8">
        <input class="form-control" type="number" min="0" step="10" ng-model="options.dagreEdgeSep"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Node Sep</label>
      <div class="col-sm-8">
        <input class="form-control" type="number" min="0" step="10" ng-model="options.dagreNodeSep"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Rank Sep</label>
      <div class="col-sm-8">
        <input class="form-control" type="number" min="0" step="10" ng-model="options.dagreRankSep"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Background color</label>
      <div class="col-sm-8">
        <input class="form-control" type="color" ng-model="options.backgroundColor"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Stroke color</label>
      <div class="col-sm-8">
        <input class="form-control" type="color" ng-model="options.strokeColor"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Stroke color (upper)</label>
      <div class="col-sm-8">
        <input class="form-control" type="color" ng-model="options.upperStrokeColor"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Stroke color (lower)</label>
      <div class="col-sm-8">
        <input class="form-control" type="color" ng-model="options.lowerStrokeColor"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Stroke color (selected)</label>
      <div class="col-sm-8">
        <input class="form-control" type="color" ng-model="options.selectedStrokeColor"/>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">{{ 'ACTION.CLOSE' | translate }}</button>
</div>
