<div class="modal-header">
  <h3>{{'ACTION.SELECT_FILE' | translate}}</h3>
</div>
<div class="modal-body">
  <p class="text-danger">{{'MESSAGES.WARN_REPLACE' | translate}}</p>
  <form>
    <div class="form-group">
      <input type="file" file-model="jsonFile">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">{{'ACTION.CANCEL' | translate}}</button>
  <button class="btn btn-danger" ng-click="ok(jsonFile)">{{'ACTION.OK' | translate}}</button>
</div>
