<div>
  <h2>{{projectGet.project.name}}</h2>

  <ol class="breadcrumb">
    <li><a href ui-sref="egrid.projects.all.list">{{'PROJECT.PROJECTS' | translate}}</a></li>
    <li class="active">{{projectGet.project.name}}</li>
  </ol>

  <ul class="nav nav-tabs">
    <li ui-sref-active="active">
      <a ui-sref="egrid.projects.get.detail">{{'ACTION.DETAIL' | translate}}</a>
    </li>
    <li ng-class="{active: ('egrid.projects.get.participants.all' | includedByState)}">
      <a ui-sref="egrid.projects.get.participants.all.list">{{'PARTICIPANT.PARTICIPANTS' | translate}}</a>
    </li>
    <li ng-class="{active: ('egrid.projects.get.analyses.all' | includedByState)}">
      <a ui-sref="egrid.projects.get.analyses.all.list">{{'EGM.ANALYSIS' | translate}}</a>
    </li>
    <li ng-class="{active: ('egrid.projects.get.collaborators.all' | includedByState)}">
      <a ui-sref="egrid.projects.get.collaborators.all.list">{{'COLLABORATOR.COLLABORATOR' | translate}}</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active">
      <div ui-view="tab-content"></div>
    </div>
  </div>
</div>
