<div class="tab-pane active">
  <div ng-if="analysisQuestionnaire.formUrl">
    <div class="navbar navbar-default">
      <div class="navbar-collapse">
        <form class="navbar-form">
          <a class="btn btn-default" ng-href="{{analysisQuestionnaire.formUrl}}" target="_blank">{{'ACTION.SHOW' |translate}}</a>
          <a class="btn btn-default" ng-click="analysisQuestionnaire.resetQuestionnaire()">{{'ACTION.RESET' |translate}}</a>
        </form>
      </div>
    </div>
  </div>
  <div ng-if="!analysisQuestionnaire.formUrl">
    <div class="navbar navbar-default">
      <div class="navbar-collapse">
        <form class="navbar-form">
          <button type="button" class="btn btn-primary" ng-click="analysisQuestionnaire.createQuestionnaire()" ng-disabled="waiting">{{'ACTION.SAVE' | translate}}</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>Choose questionnaire items.</p>
      </div>
      <div class="col-sm-8">
        <div class="thumbnail" id="display-wrapper" style="height: 500px">
          <svg id="display" ng-init="analysisQuestionnaire.drawGrid()"></svg>
        </div>
      </div>
      <div class="col-sm-4" style="height: 515px; overflow-y: scroll;">
        <table class="table">
          <thead>
            <tr>
              <th>評価項目</th>
              <th>回答数</th>
            </tr>
          <thead>
          <tbody>
            <tr ng-repeat="item in analysisQuestionnaire.items">
              <td>
                <label class="checkbox">
                  <input type="checkbox" ng-model="item.visible" ng-change="analysisQuestionnaire.updateItems()"/>{{item.text}}
                </label>
              </td>
              <td>{{item.participants.length}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
