<h2>{{'PROJECT.PROJECTS' | translate}}</h2>

<ol class="breadcrumb">
  <li class="active">{{'PROJECT.PROJECTS' | translate}}</li>
</ol>

<ul class="nav nav-tabs">
  <li ui-sref-active="active">
    <a ui-sref="egrid.projects.all.list">{{'ACTION.LIST' | translate}}</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="egrid.projects.all.new">{{'ACTION.NEW' | translate}}</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active">
    <div ui-view="tab-content"></div>
  </div>
</div>
