<div>
  <h2>{{ctrl.participant.name}}</h2>

  <ol class="breadcrumb">
    <li>
      <a ui-sref="egrid.projects.all.list">{{'PROJECT.PROJECTS' | translate}}</a>
    </li>
    <li>
      <a ui-sref="egrid.projects.get.detail">{{ctrl.participant.project.name}}</a>
    </li>
    <li>
      <a ui-sref="egrid.projects.get.participants.all.list">{{'PARTICIPANT.PARTICIPANTS' | translate}}</a>
    </li>
    <li class="active">
      {{ctrl.participant.name}}
    </li>
  </ol>

  <div class="col-sm-12 egrid-pager">
    <div class="pull-left">
      <a ng-if="ctrl.prevParticipant" ui-sref="{participantKey: ctrl.prevParticipant.key}">&lt;&lt; {{'ACTION.PREVIOUS' | translate}}</a>
    </div>
    <div class="pull-right">
      <a ng-if="ctrl.nextParticipant" ui-sref="{participantKey: ctrl.nextParticipant.key}">{{'ACTION.NEXT' | translate}} &gt;&gt;</a>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li ui-sref-active="active">
      <a data-target="ui-sref" data-toggle="tab" ui-sref="egrid.projects.get.participants.get.detail">{{'ACTION.DETAIL' | translate}}</a>
    </li>
    <li ui-sref-active="active">
      <a data-target="ui-sref" data-toggle="tab" ui-sref="egrid.projects.get.participants.get.grid">{{'EGM.EVALUATION_STRUCTURE' | translate}}</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active">
      <div ui-view="tab-content"></div>
    </div>
  </div>
</div>
