<!DOCTYPE html>
<html manifest="/files.appcache" ng-app="egrid">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>E-Grid</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/nvd3/nv.d3.min.css"></script>
    <link rel="stylesheet" href="/styles/egm.css"/>
    <link rel="apple-touch-icon" href="images/icon/apple-touch-icon.png"/>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/#">E-Grid</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a ui-sref="egrid.help">Help</a></li>
            <li><a ui-sref="egrid.about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{user.nickname}}さん<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href ng-click="changeLanguage('ja')">Japanese</a></li>
                <li><a href ng-click="changeLanguage('en')">English</a></li>
                <li class="divider"></li>
                <li><a href="{{logoutUrl}}">Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div ui-view="base"></div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="/bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
    <script src="/bower_components/d3/d3.min.js"></script>
    <script src="/bower_components/nvd3/nv.d3.min.js"></script>
    <script src="/bower_components/dagre/build/dagre.min.js"></script>
    <script src="/bower_components/egrid-core/dist/egrid-core.js"></script>
    <script src="/scripts/lib/sem.js"></script>
    <script src="/scripts/lib/egrid-client.js"></script>
    <script src="/scripts/collaboegm.js"></script>
    <script src="/scripts/templates.js"></script>
  </body>
</html>
