<div class="tab-pane active">
  <div class="navbar navbar-default">
    <div class="navbar-collapse">
      <form class="navbar-form">
        <a class="btn btn-primary" ng-click="questionnaire.submit()">{{'ACTION.SAVE' | translate}}</a>
        <a class="btn btn-default" href="{{questionnaire.exportContent()}}" download="{{questionnaire.project.name}} - {{questionnaire.analysis.name}}.csv">エクスポート</a>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="thumbnail" id="sem-questionnaire-design-display">
        <svg width="100%" height="500px"></svg>
      </div>
    </div>
    <div class="col-sm-4" style="height: 515px; overflow-y: scroll;">
      <table class="table">
        <thead>
          <tr>
            <th>評価項目</th>
            <th>回答数</th>
            <th>リンク数</th>
          </tr>
        <thead>
        <tbody>
          <tr ng-repeat="item in questionnaire.items">
            <td>
              <label class="checkbox">
                <input type="checkbox" ng-model="item.visible" ng-change="questionnaire.updateItems()"/>{{item.text}}
              </label>
            </td>
            <td>{{item.weight}}</td>
            <td>{{item.weight}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
