<div>
  <h2>ファイル読み込み</h2>
  <div>
    <form class="form-horizontal" ng-submit="sem.loadFile()">
      <div class="form-group">
        <label class="col-sm-2 control-label">エンコーディング</label>
        <div class="col-sm-10">
          <label class="radio-inline"><input type="radio" name="encoding" ng-model="sem.encoding" value="utf-8"/>UTF-8</label>
          <label class="radio-inline"><input type="radio" name="encoding" ng-model="sem.encoding" value="sjis"/>Shift-JIS</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">CSVファイル</label>
        <div class="col-sm-10">
          <input type="file" id="fileInput"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">読み込み</button>
        </div>
      </div>
    </form>
  </div>
  <h2>パスモデリング</h2>
  <div>
    <div>
      <div class="col-sm-12">
        <div class="col-sm-10 thumbnail" id="display-wrapper">
          <svg id="display" style="height:550px;"></svg>
        </div>
        <div class="col-sm-2">
          <p>GFI:{{sem.gfiValue | number}}</p>
        </div>
      </div>
    </div>
    <div>
      <div class="col-sm-12">
        <div class="navbar navbar-default">
          <div class="navbar-collapse">
            <form class="navbar-form">
              <button class="btn btn-default" ng-click="sem.addFactor()">潜在変数追加</button>
              <button class="btn btn-default" ng-click="sem.solve()">更新</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th></th>
              <th ng-repeat="attribute in sem.attributes">{{attribute}}</th>
            </tr>
            <tr ng-repeat="row in sem.pathMatrix">
              <th>{{sem.attributes[$index]}}</th>
              <td ng-repeat="cell in row">
                <p style="font-size: 8pt;">{{cell.p | number}}</p>
                <input class="checkbox" type="checkbox" ng-model="cell.connected">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div>
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th></th>
              <th ng-repeat="attribute in sem.attributes">{{attribute}}</th>
            </tr>
            <tr ng-repeat="row in sem.pathMatrix">
              <th>{{sem.attributes[$index]}}</th>
              <td ng-repeat="cell in row">
                <p style="font-size: 8pt;">{{cell.totalEffect | number}}</p>
                <p style="font-size: 8pt;">{{cell.directEffect | number}}</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
